
img{
  width: 100%;
  height:100%;

}
.contenedor{
  width: 100%;
  position: relative;
  height:350px;
}

.botonAtras,.botonAdelante{
  font-size: 30px;
  width: 70px;
  height: 70px;
  line-height: 70px;
  border-radius: 50%;
  background-color: rgba(0,0,0,0.7);
  text-align: center;
  font-weight: bold;
  position:absolute;
  color:#fff;
  box-shadow: 0 0 10px rgba(255,255,255,0.6);
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;

}

.botonAtras:hover{
  cursor:pointer;
  transform:scale(1.2,1.2);

}
.botonAdelante:hover{
  cursor:pointer;
  transform:scale(1.2,1.2);

}

.botonAtras{
  /* Distancia entre el borde y el elemento desplazado: */
  left:0%;
  /* Dado que el elemento tiene posiciÃ³n relativa con respecto a su contenedor
     Se puede calcular la posiciÃ³n por medio de algÃºn calculo o simplemente referenciando
     La posiciÃ³n al 50% de su contenedor padre: */
  top:calc(40%);
}

.botonAdelante{
  /* Distancia entre el borde y el elemento desplazado: */
  right:0%;
  /* Dado que el elemento tiene posiciÃ³n relativa con respecto a su contenedor
     Se puede calcular la posiciÃ³n por medio de algÃºn calculo o simplemente referenciando
     La posiciÃ³n al 50% de su contenedor padre: */

  top: calc(40%);
}