*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    
    
}


.menu_bar{
    display:none;

}


.menu{
    font-size: 15px;
    display: block;
   
    
    
}

.ul{
    background-image:linear-gradient(rgba(0, 0, 0, 0.7),rgba(0, 0, 0, 0.7)),url(../fondo/City_morning_sunrise_street_road_bike_1366x768.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

 

body{
    background: gray;
    position: relative;
    transition: 0.8s;
    
}

 html{
    width: 100%;
 }

header{
    width:100%;
    
}



header nav{
    background-image: linear-gradient(rgba(0, 0, 0, 0.7),rgba(0, 0, 0, 0.7)),url(../fondo/fondo-abstracto.jpg);
   background-position: center;
   background-size: cover; 
   background-repeat: no-repeat;
   background-position: center;
    z-index:1000;
    max-width:100%;
    width:95%;
    margin:20px auto;
    height: 950vh;

    
   
}

header nav ul{
    list-style:none;
}

header nav ul li{
    display:inline-block;
    position: relative;
}
header nav ul li:hover{
    background-image: linear-gradient(rgba(0, 0, 0, 0.1),rgba(0, 0, 0, 0.1)),url(../fondo/City_morning_sunrise_street_road_bike_1366x768.jpg);
}








header nav ul li a {
    color:#fff;
    display:block;
    text-decoration:none;
    padding:20px;
}


header nav ul li a i{
    margin-right: 10px;
}

header nav ul li:hover .children{
    display:block;
}

header nav ul li .children{
    display:none;
    background-image: linear-gradient(rgba(0, 0, 0, 0.7),rgba(0, 0, 0, 0.7)),url(../fondo/City_morning_sunrise_street_road_bike_1366x768.jpg);
    position: absolute;
    width: 150%;
    z-index: 1000;
}
header nav ul li .children li{
    display: block;
    overflow: hidden;
    border-bottom: 1px solid rgba(255,255,255,.5);
}
header nav ul li .children li a{
    display: block;
}

header nav ul li .children li a i{
float: right;
position: relative;
top:3px;
margin-right: 0;
margin-left: 10px;
}


/*========================*/

header nav ul li:hover .children2{
    display:block;
}

header nav ul li .children2{
    display:none;
    background-image: linear-gradient(rgba(0, 0, 0, 0.7),rgba(0, 0, 0, 0.7)),url(../fondo/City_morning_sunrise_street_road_bike_1366x768.jpg);
 
    position: absolute;
    width: 150%;
    z-index: 1000;
}
header nav ul li .children2 li{
    display: block;
    overflow: hidden;
    border-bottom: 1px solid rgba(255,255,255,.5);
}
header nav ul li .children2 li a{
    display: block;
}

header nav ul li .children2 li a i{
float: right;
position: relative;
top:3px;
margin-right: 0;
margin-left: 10px;
}


/*========================*/

header nav ul li:hover .children3{
    display:block;
}

header nav ul li .children3{
    display:none;
    background-image: linear-gradient(rgba(0, 0, 0, 0.7),rgba(0, 0, 0, 0.7)),url(../fondo/City_morning_sunrise_street_road_bike_1366x768.jpg);
  
    position: absolute;
    width: 250%;
    z-index: 1000;
}
header nav ul li .children3 li{
    display: block;
    overflow: hidden;
    border-bottom: 1px solid rgba(255,255,255,.5);
}
header nav ul li .children3 li a{
    display: block;
}

header nav ul li .children3 li a i{
float: right;
position: relative;
top:3px;
margin-right: 0;
margin-left: 10px;
}





/*========================*/

header nav ul li .sub1{
    position: relative;
    top: 1px;
    margin-left: 10px;
    margin-right: 0px;
}

header nav ul li .sub2{
    position: relative;
    top: 1px;
    margin-left: 10px;
    margin-right: 0px;
}
    
header nav ul li .sub3{
    position: relative;
    top: 1px;
    margin-left: 10px;
    margin-right: 0px;
}
    

/*MENU RESPONSIVE*/

@media screen and (max-width:700px){

    body{
        padding: 80px;
        background: black;
    }
    .menu_bar{
        display: block;
        width: 100%;
        position: fixed;
        top:0;
        background: #040C43;
    }

    .menu_bar .btn-menu{
        display: block;
        padding: 20px;
        color: #fff;
        overflow: hidden;
        font-size: 25px;
        font-weight: bold;
        text-decoration: none;
    }
    .menu_bar i{
        
       font-size: 25px;
    }

    header nav{
        width: 80%;
        height: calc(100% - 80px);
        position: fixed;
        right: 100%;
        margin: 0;
        overflow: scroll;
    }

    header nav ul li{
        display: block;
        border-bottom: 1px solid rgba(255,255,255,.5);
    }
    header nav ul li a{
        display: block;
    }

    header nav ul li:hover .children{
        display: none;
    }
    header nav ul li:hover .children2{
        display: none;
    }
    header nav ul li:hover .children3{
        display: none;
    }

    header nav ul li .children{
        width: 100%;
        position: relative;
    }

    header nav ul li .children li a{
        margin-left:20px;
    }
    header nav ul li .sub1{
        float: right;
    }


    header nav ul li .children2{
        width: 100%;
        position: relative;
    }
    header nav ul li .children2 li a{
        margin-left:20px;
    }
    header nav ul li .sub2{
        float: right;
    }

    header nav ul li .children3{
        width: 100%;
        position: relative;
    }
    header nav ul li .children3 li a{
        margin-left:20px;
    }
    header nav ul li .sub3{
        float: right;
    }

}

/*MARGEN*/

.puntos,.resto11,.antimenu11 li{
    color: linear-gradient(rgba(0, 0, 0, 0.7),rgba(0, 0, 0, 0.7)),url(../fondo/City_morning_sunrise_street_road_bike_1366x768.jpg);
}

.puntos,.resto11,.antimenu11 li:hover{
    background-image: linear-gradient(rgba(0, 0, 0, 0.7),rgba(0, 0, 0, 0.7)),url(../fondo/City_morning_sunrise_street_road_bike_1366x768.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.puntos,.resto11,.antimenu11{
    display:inline-block;
    position: relative;
    background-image: linear-gradient(rgba(0, 0, 0, 0.7),rgba(0, 0, 0, 0.7)),url(../fondo/City_morning_sunrise_street_road_bike_1366x768.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}


/*LISTA FINAL (REDES)*/


.wsp{
    font-size:30px;
    position: relative;
    transition: 0.8s;
    border-radius: 45% ;
    overflow: hidden;
    box-shadow:10px 0 10px 0 green;
    

}

.fb{
    font-size:30px; 
    transition: 0.8s;
    position: relative;
    overflow: hidden;
    border-radius: 45% ;
    box-shadow:10px 0 10px 0 blue;

}

.ig{
    font-size:30px;
    transition: 0.8s;
    position: relative;
    overflow: hidden;
    border-radius: 45% ;
    box-shadow:10px 0 10px 0 violet;

}


.em{
    position: relative;
    font-size:30px;
    transition: 0.8s;
    overflow: hidden;
    border-radius: 45% ;
    box-shadow:10px 0 10px 0 red;
    
}

.wsp:hover{
    position: relative;
    transition: 1.8s;
    transform: scale(1.0,1.0);
    box-shadow: 0 10px 20px 0 green;


}



.ig:hover{
    position: relative;
    transition: 1.8s;
    transform: scale(1.0,1.0);
    box-shadow: 0 10px 20px 0 violet;

}

.fb:hover{
    position: relative;
    transition: 1.8s;
    transform: scale(1.0,1.0);
    box-shadow: 0 10px 20px 0 blue;

}

.em:hover{
    position: relative;
    transition: 1.8s;
    transform: scale(1.0,1.0);
    box-shadow: 0 10px 20px 0 red;

}


.login{

    box-shadow:10px 0 10px 0 blue;
    border-radius: 30% ;

}

.login:hover{
    transform: scale(1.2,1.2);
    box-shadow: 0 10px 20px 0 blue;
    
    
}
.sec1{
    position: relative;
    transition: 0.8;
    left: 1300px;
   bottom: 50px;
   overflow: hidden;
   border-radius: 30% ;
   

}

.flechas {
    position: relative;
    transition: 1.8s;
    top:-180vh;
    left:5vh;
    font-size: 50px;
    cursor: pointer;
}
.flechas span a .derecha{
    
    position: relative;
    transition: 1.8s;
    
    top: 25vh;
    left:180vh;
}
.flechas span a .derecha:hover{
    position: relative;
    transition: 1.8s;
    transform: scale(1.2,1.2);


}
.flechas span a .izquierda{
    
    position: relative;
    transition: 1.8s;
    top:25vh;
    left:3.5vh;


}

.flechas span a .izquierda:hover{
    transform: scale(1.2,1.2);
    position: relative;
    transition: 1.8s;

}

header nav li a img{
    width: 30px;
    height: 30px;
    position: relative;
    transition: 0.8s;
    overflow: hidden;
    

   

}




































